<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>The Beebox</title>
        <meta name="description" content="Have you ever wondered what the impact the bee population has on our economy? Here we've used the past thirty years of data to show what the decline in bee populations has influenced so far, and what could happen if losses are not mitigated.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/12323bd54c.js" crossorigin="anonymous"></script>
    </head>
<body>
<div class="container-fluid"> 
    <div class="row"> 
        <div class="col-sm-3 col-md-2 col-lg-2 sidebar-styles">
            <nav class="navbar navbar-light navbar-expand-sm px-0 flex-row flex-nowrap">
                <div class="sidebar-header">
                    <h3>Weather Bees</h3>
                    <img class="image-dimensions" src="/static/images/beehive_icon.png" alt="Mr.Weatherbee Himself">
                    <ul class="list-unstyled-components" class="link-fonts" class="nav flex-sm-column flex-row">
                    <br>
                        <a href="/"><strong>Main</strong></a>
                        <li>
                            <a href="https://github.com/Asia-Hewett/weather_bees"><i class="fas fa-fan"></i>&nbsp;About</a>
                        <li>
                            <a href="/charts"><i class="fas fa-fan"></i>&nbsp;Charts</a>
                        </li>
                        <br>
                        <p><strong>Resources</strong></p>
                        <li>
                            <a href="/data_used"><i class="fas fa-database"></i>&nbsp;Data</a>
                        </li>
                        <li>
                            <a href="/visualizations"><i class="fas fa-chart-line"></i>&nbsp;Visualizations</a>
                        </li>
                        <li>
                            <a href="/ml_walkthrough"><i class="fas fa-cogs"></i>&nbsp;ML Walkthrough</a>
                        </li>
                        <br>
                        <p><strong>Contributors</strong>
                        <br>
                            <a href="https://github.com/KRuhl1662">Kristina |</a>
                            <a href="https://github.com/gamem001">Melissa |</a>
                            <a href="https://github.com/andrewzee23">Andrew </a>
                            <a href="https://asia-hewett.github.io/">Asia |</a>
                            <a href="https://github.com/rmartinez944630">Rene</a>
                        </p>
                    </ul>
                </div>
            </nav>
        </div>


